@(wedding: models.wedding.Wedding)(implicit request: play.api.mvc.RequestHeader, user: Option[models.authentication.User] = None, lang: Lang, isOwnerOfWedding: Boolean, viewMode: models.wedding.ViewMode)

@import helpers._
@import helper._
@import helpers.BootstrapHelper._

<div class="ad-banner">
    <div>
        <!--<a target="_blank" href="https://www.shareasale.com/r.cfm?b=302605&u=840150&m=32214&urllink=&afftrack="><img src="https://www.shareasale.com/image/32214/Wedding_blue468x60.jpg" alt="Madame Bridal 40% off  all dresses" border="0"></a>-->
    </div>
    @if(false && AuthenticationHelper.isDisplayAsOwner) {
        @button(
            href = controllers.modules.routes.Module.listAllModules(wedding.uid),
            title = Messages("main.modules.adFree.removeAd"),
            icon = routes.Assets.at("images/icons/32/disable.png"),
            align = "right"
        )
    }
</div>