@()(implicit flash: play.api.mvc.Flash = play.api.mvc.Flash.emptyCookie, request: play.api.mvc.RequestHeader, user: Option[models.authentication.User] = None, lang: Lang)

@import helpers._
@import helpers.BootstrapHelper._
@import helper._

@mail(Messages("securesocial.mails.unknownEmailNotice.subject")) {
    <p>@Messages("securesocial.mails.unknownEmailNotice.welcome"), </p>

    <p>
        @Messages("securesocial.mails.unknownEmailNotice.weReceived")
    </p>
    <p>
        @Messages("securesocial.mails.unknownEmailNotice.ifYouNeverCreated")
    </p>
    <p align="right">@Messages("securesocial.mails.withKindRegards")</p>
}