@(cartItem: models.modules.CartItem)(implicit lang: Lang)

@import helper._

<tr id="cartItem_@cartItem.item.id" data-ref="@cartItem.item.id" class="cart-item">
    <td>@cartItem.item.description</td>
    <td align="right" style="text-align: right;">@currency(cartItem.item.unitPrice)</td>
    <td align="right" style="text-align: right;" id="cartItemNumber_@cartItem.item.id">@cartItem.number</td>
    <td align="right" style="text-align: right;"><span id="cartItemTotal_@cartItem.item.id">@currency(cartItem.number*cartItem.item.unitPrice)</span></td>
    <td>
        <a href="#" onclick="removeFromCart(@cartItem.item.id); return false;"><img class="close" style="float: none;" src="@routes.Assets.at("images/icons/32/cross.png")" alt="@Messages("main.modules.giftList.removeFromCart")" title="@Messages("main.modules.giftList.removeFromCart")" /></a>
    </td>
</tr>