@(module: models.modules.Module, wedding: models.wedding.Wedding, additionalClassName: Option[String], isSmall: Boolean)(implicit flash: play.api.mvc.Flash, request: play.api.mvc.RequestHeader, user: Option[models.authentication.User] = None, lang: Lang, isOwnerOfWedding: Boolean, viewMode: models.wedding.ViewMode)

@import helpers._
@import helper._

@displayLink = @{ ModuleHelper.getDisplayLink(wedding, module.getId.get.toInt) }
@hasDisplayLink = @{ displayLink.isDefined }

<div id="widget@module.getName" class="widget@if(additionalClassName.isDefined){-@additionalClassName.get} portlet @if(hasDisplayLink){portlet-has-display-link} @if(AuthenticationHelper.isDisplayAsOwner && ModuleHelper.getEditLink(wedding, module.getId.get.toInt).isDefined){with-edit-button} @if(module.isDisplayTypeSmallOnly){portlet-small-only}else{portlet-large-small}" data-ref="modules_@{module.getId.get.toInt}" @if(AuthenticationHelper.isDisplayAsOwner) {data-url="@ModuleHelper.getEditLink(wedding, module.getId.get.toInt).getOrElse("")"}>
    <div class="widget-header"></div>
    <div class="widget-content">
        <div class="widget-content-gradient">
            <div class="widget-title @if(AuthenticationHelper.isDisplayAsOwner){widget-movable}">@module.title(wedding).getOrElse("")</div>
            @if(hasDisplayLink) {
                <div class="widget-link @if(AuthenticationHelper.isDisplayAsOwner){widget-movable}">
                    <span class="menu-link-separator">&nbsp;</span>
                    <a href="@displayLink">@module.title(wedding).getOrElse("")</a>
                </div>
            }
            <div class="widget-content-body">
                @module.display(wedding, isSmall)
            </div>
        </div>
    </div>
    <div class="widget-footer"></div>
    <hr/>
</div>