@(passwordChangeForm:Form[securesocial.controllers.PasswordChange.ChangeInfo])(implicit flash: play.api.mvc.Flash = play.api.mvc.Flash.emptyCookie, request: play.api.mvc.RequestHeader, user: Option[models.authentication.User] = None, lang: Lang)
@import helpers._
@import helpers.BootstrapHelper._
@import helper._
@import securesocial.core.IdentityProvider
@import securesocial.core.providers.UsernamePasswordProvider

@main(Messages("securesocial.passwordChange.title"))(){

    @request.flash.get("error").map { msg =>
        <div class="alert alert-error">
            @Messages(msg)
        </div>
    }

    @if( request.flash.get("success").isDefined ) {
        <div class="alert alert-info">
            @request.flash.get("success").get
        </div>

        <div class="form-actions">
            <a class="btn" href="@securesocial.controllers.ProviderController.toUrl">@Messages("securesocial.passwordChange.okButton")</a>
        </div>
    } else {
        <form action="@securesocial.core.providers.utils.RoutesHelper.handlePasswordChange.absoluteURL(IdentityProvider.sslEnabled)"
              class="form-horizontal"
              autocomplete= "off"
              method="POST"
                >
            <fieldset>
                @helper.inputPassword(
                    passwordChangeForm("currentPassword"),
                    '_label -> Messages("securesocial.passwordChange.currentPassword"),
                    'class -> "input-xlarge",
                    '_showConstraints -> false
                )

                @helper.inputPassword(
                    passwordChangeForm("newPassword.password1"),
                    '_label -> Messages("securesocial.passwordChange.newPassword1"),
                    'class -> "input-xlarge",
                    '_showConstraints -> false
                )

                @helper.inputPassword(
                    passwordChangeForm("newPassword.password2"),
                    '_label -> Messages("securesocial.passwordChange.newPassword2"),
                    '_error -> passwordChangeForm.error("newPassword"),
                    'class -> "input-xlarge",
                    '_showConstraints -> false
                )

                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">@Messages("securesocial.passwordChange.changeButton")</button>
                    <a class="btn" href="@securesocial.controllers.ProviderController.toUrl">@Messages("securesocial.signup.cancel")</a>
                </div>
            </fieldset>
        </form>
    }
}