@(resetForm:Form[(String, String)], token: String)(implicit flash: play.api.mvc.Flash = play.api.mvc.Flash.emptyCookie, request: play.api.mvc.RequestHeader, user: Option[models.authentication.User] = None, lang: Lang)
@import helpers._
@import helpers.BootstrapHelper._
@import helper._
@import securesocial.core.IdentityProvider

@main(Messages("securesocial.password.title"))(){

    @request.flash.get("error").map { msg =>
        <div class="alert alert-error">
            @Messages(msg)
        </div>
    }

    <form action="@securesocial.core.providers.utils.RoutesHelper.handleResetPassword(token).absoluteURL(IdentityProvider.sslEnabled)"
      class="form-horizontal"
      autocomplete="off"
      method="POST"
        >
        <fieldset>
            @helper.inputPassword(
                resetForm("password.password1"),
                '_label -> Messages("securesocial.signup.password1"),
                'class -> "input-xlarge",
                '_showConstraints -> false
            )

            @helper.inputPassword(
                resetForm("password.password2"),
                '_label -> Messages("securesocial.signup.password2"),
                '_error -> resetForm.error("password"),
                'class -> "input-xlarge",
                '_showConstraints -> false
            )

            <div class="form-actions">
                <button type="submit" class="btn btn-primary">@Messages("securesocial.password.reset")</button>
                <a class="btn" href="@routes.Wedding.index">@Messages("securesocial.signup.cancel")</a>
            </div>
        </fieldset>
    </form>
}