@(signUpForm:Form[securesocial.controllers.Registration.RegistrationInfo], token: String)(implicit flash: play.api.mvc.Flash = play.api.mvc.Flash.emptyCookie, request: play.api.mvc.RequestHeader, user: Option[models.authentication.User] = None, lang: Lang)
@import helpers._
@import helpers.BootstrapHelper._
@import helper._
@import securesocial.core.IdentityProvider
@import securesocial.core.providers.UsernamePasswordProvider

@main(Messages("securesocial.signup.title"))(){

    @request.flash.get("error").map { msg =>
        <div class="alert alert-error">
            @Messages(msg)
        </div>
    }

    <form action="@securesocial.core.providers.utils.RoutesHelper.handleSignUp(token).absoluteURL(IdentityProvider.sslEnabled)"
          class="form-horizontal"
          autocomplete= "off"
          method="POST"
            >
        <fieldset>
            @if( UsernamePasswordProvider.withUserNameSupport ) {
                @helper.inputText(
                    signUpForm("userName"),
                    '_label -> Messages("securesocial.signup.username"),
                    'class -> "input-xlarge",
                    '_showConstraints -> false
                )
            }

            @helper.inputText(
                signUpForm("firstName"),
                '_label -> Messages("securesocial.signup.firstName"),
                'class -> "input-xlarge",
                '_showConstraints -> false
            )

            @helper.inputText(
                signUpForm("lastName"),
                '_label -> Messages("securesocial.signup.lastName"),
                'class -> "input-xlarge",
                '_showConstraints -> false
            )

            @helper.inputPassword(
                signUpForm("password.password1"),
                '_label -> Messages("securesocial.signup.password1"),
                'class -> "input-xlarge",
                '_showConstraints -> false
            )

            @helper.inputPassword(
                signUpForm("password.password2"),
                '_label -> Messages("securesocial.signup.password2"),
                '_error -> signUpForm.error("password"),
                'class -> "input-xlarge",
                '_showConstraints -> false
            )

            <div class="form-actions">
                <button type="submit" class="btn btn-primary">@Messages("securesocial.signup.createAccount")</button>
                <a class="btn" href="@routes.Wedding.index">@Messages("securesocial.signup.cancel")</a>
            </div>
        </fieldset>
    </form>

    @views.html.authentication.securityLogin()

}