@(startForm:Form[String])(implicit flash: play.api.mvc.Flash = play.api.mvc.Flash.emptyCookie, request: play.api.mvc.RequestHeader, user: Option[models.authentication.User] = None, lang: Lang)
@import helpers._
@import helpers.BootstrapHelper._
@import helper._
@import securesocial.core.IdentityProvider

@main(Messages("securesocial.signup.title"))(){

    <p>@Messages("securesocial.signup.explanation")</p>

    @request.flash.get("error").map { msg =>
        <div class="alert alert-error">
            @Messages(msg)
        </div>
    }

    <form action="@securesocial.core.providers.utils.RoutesHelper.handleStartSignUp().absoluteURL(IdentityProvider.sslEnabled)"
          class="form-horizontal"
          autocomplete="off" method="post"
            >
        <fieldset>
            @helper.inputText(
                startForm("email"),
                '_label -> Messages("securesocial.signup.email1"),
                'class -> "input-xlarge",
                '_showConstraints -> false
            )

            <div class="form-actions">
                <button type="submit" class="btn btn-primary">@Messages("securesocial.signup.createAccount")</button>
                <a class="btn" href="@routes.Wedding.index">@Messages("securesocial.signup.cancel")</a>
            </div>

        </fieldset>
    </form>

    @views.html.authentication.securityLogin()
}