html {
	background-color: #F1EEE9;
    background-image:none;
}

body {
	background-color: #F1EEE9 !important;
    background-image:none !important;
}

#globalContainer {
	background-color: #F1EEE9 !important;
    background-image: url('images/background.png') !important;
    background-repeat: repeat-y !important;
    background-position: center top !important;
}

#globalContainerInner {
    background: rgba(0,0,0,0) !important;
}

.navbar {
    margin-right: 110px !important;
}

.navbar-inner {
    background: rgba(0,0,0,0) !important;
    box-shadow: none !important;
}

.navbar a {
    color: #C4BFA1 !important;
    text-shadow: none !important;
}

a {
    color: #76A6CA;
}

a:visited {
    color: #76A6CA;
}

a:hover {
    color: #76A6CA;
}

a.question {
    color: #76A6CA;
    border-bottom: 1px dashed #76A6CA;
}

.btn {
    color: #76A6CA !important;
}

.btn:hover {
    color: #76A6CA !important;
}

.btn-danger {
    color: #FFFFFF;
}

.btn-danger:hover {
    color: #FFFFFF;
}

.navbar .nav li.dropdown.open > .dropdown-toggle, .navbar .nav li.dropdown.active > .dropdown-toggle, .navbar .nav li.dropdown.open.active > .dropdown-toggle {
    background-color:#C4BFA1;
    color: #FFFFFF !important;
}

.dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover > a, .dropdown-menu .active > a, .dropdown-menu .active > a:hover, .navbar .nav > li > a:focus, .navbar .nav > li > a:hover {
    color: #FFFFFF !important;
    background-color:#C4BFA1;
}

.dropdown-menu .disabled > a, .dropdown-menu .disabled > a:hover {
    background-color: #FFFFFF !important;
    color: #CCCCCC !important;
}

.btn-primary, .btn-primary:hover {
    background-color:#76A6CA;
    color: #FFFFFF !important;
}

#mainContentLogo {
    display: none;
}

#mainContentTop {
    display: none;
    background-image: none !important;
}
#mainContentBottom {
    display: none;
    background-image: none !important;
}
#mainContentBody {
    background-image: none !important;
}

#weddingMenu {
    background-color:#C4BFA1 !important;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 686px;
    max-width: 686px;
    margin-left: 127px;
}

#weddingMenu.top-menu-owner {
    border: 0px;
}

#menuPlaceholder {
    color: #FFFFFF;
    margin: auto;
    margin-bottom: 5px;
}

#weddingMenu a {
}

#weddingMenu .widget-link a {
    color: #0E1D20 !important;
    text-transform: uppercase;
    font-weight: normal !important;
    font-size: 0.8em;
    font-family: 'Open Sans',sans-serif;
}

#weddingMenu .widget-link {
    vertical-align: middle;
    height: 23px;
}

#weddingMenu .widget-menu .menu-link-separator {
    border: 0px !important;
    background-image: url('images/separator.jpg') !important;
    background-repeat: no-repeat;
    width: 22px;
}

#weddingMenuSeparator {
    display: none;
}

#adminWidgets {
    margin-top: 0px;
}

.widget .widget-header {
    display: none;
}

.widget .widget-content {
    background-image: none;
    background-repeat: no-repeat;
    background-color: #FFFFFF;
    border: 1px solid #C4BFA1;
    padding: 0px;
    box-shadow: 2px 2px 10px #CCCCCC;
}

.widget .widget-content-gradient {
    background-image: none;
    background-repeat: no-repeat;
    padding: 0px;
}

.widget .widget-title {
    font-family: 'Open Sans',sans-serif;
    background-color: #C4BFA1;
    padding: 10px;
    font-weight: normal;
    font-size: 0.9em;
    color: #0E1D20 !important;
    text-transform: uppercase;
    margin-bottom: 0px;
}

.widget .widget-content-body {
    padding: 10px;
}

.widget .widget-footer {
    display: none;
}

h1, h2 {
    font-family: 'Economica',sans-serif;
    color: #C4BFA1 !important;
    text-transform: uppercase;
}

.main-content-fixed {
    margin-left: 128px;
    width: 685px;
    border-top: 1px solid #C4BFA1;
}

.main-content-fixed > * {
    margin-left: 20px;
    margin-right: 20px;
}

.main-content-fixed #messages-box {
    margin-top: 5px;
    width: auto;
}

#footer {
    background-image: none;
    background-color: #C4BFA1;
    width: 676px;
    margin: auto;
    color: #0E1D20;
    padding: 5px;
    border-radius: 0px;
    font-size: 0.7em;
    text-transform:uppercase;
}

#footer a {
    color: #0E1D20 !important;
}

#footer a:visited {
    color: #0E1D20 !important;
}

#footer a:hover {
    color: #0E1D20 !important;
}

#footer .footer-menu-separator {
    background-image: url('images/separatorsmall.jpg');
    background-repeat: no-repeat;
    width: 11px;
    height: 12px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 3px;
    display: inline-block;
    vertical-align: middle;
}

.welcomePicLabel {
    color: #0E1D20 !important;
}

