.gallery {
    text-align: center;
}
.gallery-album {
    padding: 5px;
    border: 1px solid #CCCCCC;
    background-color: #FCFCFC;
    display: inline-block;
    margin: 5px;
    text-align: center;
    cursor: pointer;
 }

.gallery-album-preview {
}

.gallery-album-content {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    border: 1px solid #CCCCCC;
    padding: 5px;
    background-color: #FCFCFC;
}

.gallery-thumbnail {
    border: 1px solid #CCCCCC;
    padding: 1px;
    margin: 5px;
}

/**
Album stack
**/

.gallery-album-stack {
    width: 300px;
    height: 200px;
    margin: 0 auto;
    border: 0px solid #CCCCCC;
    background: none;
}

.gallery-album-stack img.gallery-album-stack-preview {
    border: 2px solid #ffe;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    position: absolute;
    -webkit-transform-origin: center 600px;
    transform-origin: center 600px;
    -webkit-transition: all .6s linear;
    transition: all .6s linear;
    margin-left: -140px;
}

.gallery-album-stack:hover img.gallery-album-stack-preview:first-child {
    -webkit-transform: rotate(12deg);
    transform: rotate(12deg);
    -webkit-backface-visibility: hidden;
}

.gallery-album-stack:hover img.gallery-album-stack-preview:last-child {
    -webkit-transform: rotate(-12deg);
    transform: rotate(-12deg);
    -webkit-backface-visibility: hidden;
}

.block {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

#uploadManagement {
    text-align: center;
}

#explanationsUpload {
    width: 500px;
}

#dropZone {
    width: 400px;
    border: 1px dashed #CCCCCC;
    background-color: #FCFCFC;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-weight: bold;
    margin: 20px;
}
#dropZone.in {
    height: 200px;
    line-height: 200px;
    font-size: larger;
}
#dropZone.hover {
    background: #DFF0D8;
    border: 1px dashed #D6E9C6;
    color: #468847;
}
#dropZone.fade {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    opacity: 1;
}

#transferInfo {
    margin: 20px;
}

.close-album-link {
    text-align: right;
    margin: 15px;
}