@()(implicit lang: Lang)<div>@Messages("main.tutorial.step3_1_1") <span class="important">@Messages("main.tutorial.step3_1_2")</span> @Messages("main.tutorial.step3_1_3")</div> \
@views.html.tutorial.fakeButton(title = Messages("main.modules.modules"), icon = routes.Assets.at("images/icons/32/module.png"), helpers.TutorialHelper.modulesLinkId)
<div>@Messages("main.tutorial.step3_2_1") <span class="important">@Messages("main.tutorial.step3_2_2")</span>.<br/>&nbsp;</div> \
<div>@Messages("main.tutorial.step3_3")</div> \
@views.html.tutorial.fakeButton(title = Messages("main.payment.remainingMoney"), routes.Assets.at("themes/default/images/diamond_icon_32.png"), helpers.TutorialHelper.diamondsLinkId)
&nbsp;